<div class="card">
    <div class="card-header">
        <h4>Orador: @capacitacion?.Ponente</h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">@capacitacion?.Nombre</h5>
        <p class="card-text">@capacitacion?.Detalle</p>
        <a href="/capacitacion/@capacitacion?.Id" class="btn btn-primary">Inscribirse</a>
    </div>
    <div class="card-footer">
        <span>Fecha: @capacitacion?.FechaHora.ToString("dd/MM/yyyy")</span>
        <span>Hora: @capacitacion?.FechaHora.ToString("HH:mm")</span>
    </div>
</div>

@code {
    [Parameter]
    public Capacitacion? capacitacion { get; set; }
}