@* Blazor tiene 3 lugares segmentados: *@
@* 1. Pages: Componentes que representan páginas y tienen rutas asociadas. *@
@page "/login"

@* Componentes html reutilizables que pueden ser utilizados en múltiples páginas. *@
<h3>Login</h3>

@code {

}
